.wall{
  background: url(../img/streetfighter.png);
  background-size: cover;
}

html, body{
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: white !important;
}

body{
  background: #000;
  text-align: center;
  margin: 0px !important;
}

body:before{
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.scene{
  display: inline-block;
  vertical-align: middle;
  perspective: 5px;
  perspective-origin: 50% 50%;
  position: relative;
}

.wrap{
  position: absolute;
  width: 1000px;
  height: 1000px;
  left: -500px;
  top: -500px;
  transform-style: preserve-3d;
  animation: move 12s infinite linear;
  animation-fill-mode: forwards;
}

.wrap:nth-child(2){
  animation: move 12s infinite linear;
  animation-delay: 6s;
}

.wall {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  animation: fade 12s infinite linear;
  animation-delay: 1.5s;
}

.wrap:nth-child(2) .wall {
  animation-delay: 6s;
}

.wall-right {
  transform: rotateY(90deg) translateZ(500px);
}

.wall-left {
  transform: rotateY(-90deg) translateZ(500px);
}

.wall-top {
  transform: rotateX(90deg) translateZ(500px);
}

.wall-bottom {
  transform: rotateX(-90deg) translateZ(500px);
}

.wall-back {
  transform: rotateX(180deg) translateZ(500px);
}

@keyframes move {
  0%{
    transform: translateZ(500px) rotate(0deg);
  }
  100%{
    transform: translateZ(-500px) rotate(0deg);
  }
}

@keyframes fade {
  0%{
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}

/* .flash{
  animation: flash 0.3s infinite linear;
  animation-delay: 1.6s;
}

@keyframes flash {
  0%{
    opacity: 0;
  }
  15% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
} */

.thumbs-up{
  position: absolute;
  animation: thumb 2s ease-in-out;
  height: 100%;
  left: -150px;
  top: 0px;
  z-index: 1;
  opacity: 0;
}

@keyframes thumb {
  0%{
    opacity: 0;
    left: -500px;
  }
  10%{
    opacity: 0.5;
    
  }
  25% {
    opacity: 1;
    left: -150px;
  }
  75% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  81% {
    opacity: 0;
  }
  100%{
    opacity: 0;
  }
}

.electricity{
  position: absolute;
  animation: elec 2s linear ;
  height: 100%;
  left: 0px;
  top: 0px;
  z-index: 1;
  opacity: 0;
}

@keyframes elec {
  25% {
    opacity:0.5;
  }
  30% {
    opacity:0;
  }
  75% {
    opacity:0.5;
  }
  90% {
    opacity:0;
  }
}
